<% title_tag t('plugin.note') %>
<div class="row">
  <div class="col-md-9">
    <div id="notes" class="card card-lg">
      <div class="card-body">
        <div class="card-title">
          <%= t('plugin.note') %>
          <span class="counter">
          共 <%= current_user_notes.count %> 条
          </span>
        </div>

        <% if @notes.blank? %>
          <div style="text-align:center; padding:60px 0;">你还没有创建过一个文件。</div>
        <% else %>
          <% @notes.each do |note| %>
            <div class="media">
              <div class="media-body">
                <div class="media-heading flex items-center justify-between">
                  <div class="flex items-center space-x-2">
                    <%= link_to note.display_title, note %>
                    <% if !note.publish %>
                      <i class="text-success fa fa-lock"></i>
                    <% end %>
                  </div>
                  <span class="opts">
                    <a href="<%= edit_note_path(note.id) %>"><i class="fa fa-pencil"></i></a>
                  </span>
                </div>
                <div class="info">
                  <%= note.word_count %> 个字符, 创建于 <%= timeago(note.created_at) %>, <%= note.changes_count %> 次编辑
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="card-footer clearfix">
        <%= paginate @notes %>
      </div>
    </div>
  </div>

  <%= render "sidebar" %>
</div>
